In [63]:
# Import Beautiful soup and splinter
from splinter import Browser
from bs4 import BeautifulSoup as bs
from webdriver_manager.chrome import ChromeDriverManager
import pandas as pd

In [64]:
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

====== WebDriver manager ======
Current google-chrome version is 90.0.4430
Get LATEST driver version for 90.0.4430
Driver [C:\Users\sahan\.wdm\drivers\chromedriver\win32\90.0.4430.24\chromedriver.exe] found in cache

In [65]:
# Vist the mars data news site
url = 'https://redplanetscience.com'
browser.visit(url)
#optional delay for loading the webpage
browser.is_element_present_by_css('div.list_text', wait_time=1)

True

In [67]:
html = browser.html
news_soup = bs(html, 'html.parser')
slide_elem = news_soup.select_one('div.list_text')

In [68]:
slide_elem.find('div', class_='content_title')

In [69]:
# use the parent element to find the 'a' tag and save it as news title
news_title = slide_elem.find('div', class_='content_title').get_text()
news_title

"Curiosity Mars Rover's Summer Road Trip Has Begun"

In [70]:
# use the parent element to find the paragraph text
news_p = slide_elem.find('div', class_='article_teaser_body').get_text()
news_p

'After more than a year in the "clay-bearing unit," Curiosity is making a mile-long journey around some deep sand so that it can explore higher up Mount Sharp.'

### Featured Images

In [71]:
# visit url
url = 'https://spaceimages-mars.com'
browser.visit(url)

In [72]:
# Find and click the full image button
full_image_elem = browser.find_by_tag('button')[1]
full_image_elem.click()

In [75]:
# Parse the resulting html with soup
html = browser.html
img_soup = bs(html, 'html.parser')

In [76]:
# find the relative image url
img_url_rel = img_soup.find('img', class_='headerimage fade-in').get('src')
img_url_rel

'image/featured/mars1.jpg'

In [77]:
# use the base url to create an absolute url
img_url = f'https://spaceimages-mars.com/{img_url_rel}'
img_url

'https://spaceimages-mars.com/image/featured/mars1.jpg'

In [78]:
browser.quit()

# Mars Facts

In [79]:
df = pd.read_html('https://galaxyfacts-mars.com')[0]
df.head()

                         0                1                2
0  Mars - Earth Comparison             Mars            Earth
1                Diameter:         6,779 km        12,742 km
2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                   Moons:                2                1
4       Distance from Sun:   227,943,824 km   149,598,262 km

In [80]:
df.columns=['Description', 'Mars', 'Earth']
df.set_index('Description', inplace=True)
df

                                    Mars            Earth
Description
Mars - Earth Comparison             Mars            Earth
Diameter:                       6,779 km        12,742 km
Mass:                    6.39 × 10^23 kg  5.97 × 10^24 kg
Moons:                                 2                1
Distance from Sun:        227,943,824 km   149,598,262 km
Length of Year:           687 Earth days      365.24 days
Temperature:                -87 to -5 °C      -88 to 58°C

In [81]:
df.to_html()

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Mars</th>\n      <th>Earth</th>\n    </tr>\n    <tr>\n      <th>Description</th>\n      <th></th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Mars - Earth Comparison</th>\n      <td>Mars</td>\n      <td>Earth</td>\n    </tr>\n    <tr>\n      <th>Diameter:</th>\n      <td>6,779 km</td>\n      <td>12,742 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.39 × 10^23 kg</td>\n      <td>5.97 × 10^24 kg</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2</td>\n      <td>1</td>\n    </tr>\n    <tr>\n      <th>Distance from Sun:</th>\n      <td>227,943,824 km</td>\n      <td>149,598,262 km</td>\n    </tr>\n    <tr>\n      <th>Length of Year:</th>\n      <td>687 Earth days</td>\n      <td>365.24 days</td>\n    </tr>\n    <tr>\n      <th>Temperature:</th>\n      <td>-87 to -5 °C</td>\n      <td>-88 to 58°C</td>\n    </tr>\n  </tbody>\n</table>'

# D1: Scrape High-Resolution Mars’ Hemisphere Images and Titles

### Hemispheres

In [84]:
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)
url = 'https://marshemispheres.com/'
browser.visit(url)

====== WebDriver manager ======
Current google-chrome version is 90.0.4430
Get LATEST driver version for 90.0.4430
Driver [C:\Users\sahan\.wdm\drivers\chromedriver\win32\90.0.4430.24\chromedriver.exe] found in cache

In [85]:
# 2. Create a list to hold the images and titles.
hemisphere_image_urls = []

hemslist = browser.find_by_css('a.product-item h3')
# 3. Write code to retrieve the image urls and titles for each hemisphere.
for i in range(len(hemslist)-1): 
    hemslist = browser.find_by_css('a.product-item h3')
    hemslist[i].click()
    target = browser.links.find_by_text('Sample').first
    
    img_url = target['href']
    img_title = browser.find_by_css("h2.title").text
    data = {'title': img_title,'img_url': img_url}
    hemisphere_image_urls.append(data)
    browser.back()

In [86]:
# 4. Print the list that holds the dictionary of each image url and title.
hemisphere_image_urls

[{'title': 'Cerberus Hemisphere Enhanced',
  'img_url': 'https://marshemispheres.com/images/full.jpg'},
 {'title': 'Schiaparelli Hemisphere Enhanced',
  'img_url': 'https://marshemispheres.com/images/schiaparelli_enhanced-full.jpg'},
 {'title': 'Syrtis Major Hemisphere Enhanced',
  'img_url': 'https://marshemispheres.com/images/syrtis_major_enhanced-full.jpg'},
 {'title': 'Valles Marineris Hemisphere Enhanced',
  'img_url': 'https://marshemispheres.com/images/valles_marineris_enhanced-full.jpg'}]

In [87]:
# 5. Quit the browser
browser_2.quit()